{% extends 'layout.html' %}
{% from 'lib.j2' import bootswatch_spacelab_css, jquery_js, leaflet_js, leaflet_css %}
{% from 'page.j2' import nav_logo, nav_title, nav_menu, footer %}

{% block web_title %}
    MIMS Catalogue
{% endblock %}

{% block favicon %}
    <link rel="icon" href="{{ url_for('static', filename='images/mims-icon-32x32.png') }}" sizes="32x32"/>
    <link rel="icon" href="{{ url_for('static', filename='images/mims-icon-192x192.png') }}" sizes="192x192"/>
{% endblock %}

{% block header %}
    <nav class="navbar navbar-expand-lg bg-white shadow-sm px-2 py-3 sticky-top">
        <div class="container-fluid">
            <img src="{{ url_for('static', filename='images/mims-logo.png') }}" height="70">
            <div class="d-flex flex-column mims-logo-color fs-5 mx-4 mt-2">
                <span class="fw-semibold">Marine Information Management System</span>
                <span class="">South Africa's oceans and coastal data archive</span>
            </div>
            <div class="navbar-nav justify-content-end flex-grow-1 mt-2">
                <div class="badge rounded-pill fs-6 fw-light mx-2">
                    <a href="https://data.ocean.gov.za/" class="text-decoration-none">
                        Home
                    </a>
                </div>
                <div class="badge rounded-pill fs-6 fw-light mims-bg-color-mid mx-2">
                    <a href="{{ url_for('catalog.index') }}" class="text-decoration-none text-reset">
                        Catalogue
                    </a>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}

{% block footer %}
<footer class="mims-footer text-white">
    <div class="container py-5">

        <div class="row align-items-start">

            <!-- MIMS / OCIMS information -->
            <div class="col-md-4">

                <!-- OCIMS and MIMS logos -->
                <div class="d-flex align-items-center gap-3 mb-3">
                    <img src="{{ url_for('static', filename='images/mims-back-logo.png') }}"
                         style="height: 65px"
                         alt="MIMS">

                    <a href="https://ocims.environment.gov.za/" target="_blank">
                        <img src="{{ url_for('static', filename='images/ocims-logo.png') }}"
                             style="height: 65px"
                             alt="OCIMS">
                    </a>
                </div>

                <!-- MIMS description -->
                <p class="mt-3">
                    MIMS is a component of the National Oceans and
                    Coasts Information Management System (OCIMS).
                </p>

                <!-- Department logos -->
                <div class="d-flex align-items-center gap-4 mt-4">
                    <img src="{{ url_for('static', filename='images/dffe-logo.jpg') }}"
                         style="height: 55px"
                         alt="Department of Forestry, Fisheries and the Environment">

                    <img src="{{ url_for('static', filename='images/dsti-logo.png') }}"
                         style="height: 55px"
                         alt="Department of Science, Technology and Innovation">
                </div>

            </div>
            <!-- ------Data links -->
            <div class="col-md-2">
                <h5 class="fw-bold text-white">Data</h5>

                <p>
                    <a href="https://mimswp.saeon.ac.za/metadata-guidance/"
                       class="text-decoration-none">
                        Guidance
                    </a>
                </p>

                <p>
                    <a href="https://mimswp.saeon.ac.za/services/"
                       class="text-decoration-none">
                        Submit Data
                    </a>
                </p>

                <p>
                    <a href="https://mimswp.saeon.ac.za/request-data/"
                       class="text-decoration-none">
                        Request Data
                    </a>
                </p>
            </div>

            <!-- Information links -->
            <div class="col-md-2">
                <h5 class="fw-bold text-white">Information</h5>

                <p>
                    <a href="https://data.ocean.gov.za/"
                       class="text-decoration-none">
                        Home
                    </a>
                </p>

                <p>
                    <a href="https://mimswp.saeon.ac.za/about/"
                       class="text-decoration-none">
                        About
                    </a>
                </p>

                <p>
                    <a href="https://mimswp.saeon.ac.za/data-policy/"
                       class="text-decoration-none">
                        Policies
                    </a>
                </p>
            </div>

            <!-- Contact information -->
            <div class="col-md-4">
                <h5 class="fw-bold text-white">Get In Touch</h5>

                <p>
                    10 Martin Hammerschlag Way<br>
                    Foreshore, Cape Town
                </p>

                <p>
                    <a href="mailto:data@ocean.gov.za"
                       class="text-decoration-none">
                        data@ocean.gov.za
                    </a>
                </p>
            </div>

        </div>

        <hr class="mims-footer-divider">

        <div class="d-flex justify-content-between">
            <div>
                Copyright &copy;
                <script>document.write(new Date().getFullYear())</script>
                MIMS | All Rights Reserved
            </div>

            <div>
                Photo by
                <a class="text-decoration-none"
                   target="_blank"
                   href="https://unsplash.com/@redcharlie">
                    redcharlie
                </a>
                on
                <a class="text-decoration-none"
                   target="_blank"
                   href="https://unsplash.com/photos/ocean-waves-crashing-on-shore-during-daytime-ncJKXaCp-3A">
                    Unsplash
                </a>
            </div>
        </div>

    </div>
</footer>
{% endblock %}
{% block styles %}
    {{ super() }}
    {{ bootswatch_spacelab_css() }}
    {{ leaflet_css() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/mims.css') }}">
    <style>
        :root {
            --bs-link-color: #3E8A93;
            --home-background-url: url( {{ url_for('static', filename='images/redcharlie-ncJKXaCp-3A-unsplash.jpg') }} );
        }
    </style>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ jquery_js() }}
    {{ leaflet_js() }}
    <script src="{{ url_for('static', filename='scripts/catalog.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/controls.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/leaflet-providers.js') }}"></script>
{% endblock %}
